.card{
    border: solid 1px;
    width: 300px;
    margin-bottom: 2rem;

    h3{
        color: white;
    }

   

    button{
        margin: .2rem;
    }

    img{
        width: 100%;
        height: 200px;
    }
}

.meta-data{
display: flex;
justify-content: space-between;

span:first-of-type{
    margin-left: .2rem;
}

}

.card-title{
    background-color:#424242;
    padding: .5rem;

    span{
        color: white;
    }

    
}